<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1201hw7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9874F281DF03CD20095604A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9874F3C1DF03CD30095604A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9874F471DF03CD30095604A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
